<div class="module-container">

    <a class="big-logo" routerLink="/index"><img  src="../../../assets/svg/logo-blue.svg" alt=""></a>
    
    <ul>
        <li><a routerLink="/theory"><img src="../../../assets/svg/btn_theory.svg" alt=""></a></li>
        <li><a routerLink="/chords"><img src="../../../assets/svg/btn_chords.svg" alt=""></a></li>
        <li><a routerLink="/scales"><img src="../../../assets/svg/btn_scales.svg" alt=""></a></li>
        <li><a routerLink="/arpeggios"><img src="../../../assets/svg/btn_arpeggios.svg" alt=""></a></li>
    </ul>
</div>

