
$blue-dark: #2483b2;     // player buttons / select mastery
$blue-medium-dark: #6EAECF;     // player buttons / select mastery
$blue-medium: #98B8C8;          // icon-module-dark
$blue-light: #C6DFEC;           // icon-module-light
$blue-lighter: #EDF6FB;         // background color / footer bg -> 80% opacity
$blue-lightest: #E9F5FB;        // logo letters
$blue-breadcrumb: #F5F8F9;       // breadcrumbs bar

.module-container {
    background-image: url("../../../assets/images/bg_chords.png");
    .sidebar {
        border-right: 4px solid $blue-light;
        .logo {
            background-color: $blue-lighter;
        }
        .user-details {
            transition: all 0.2s;
            &:hover {
                background-color: $blue-lighter;
            }
        }
        .lesson-list {
            .lesson-name {
                transition: all 0.2s;
                &:hover {
                    background-color: $blue-light;
                }
            }
        }
    }
    .main {
        .navbar {
            background-color: $blue-lighter;
        }
        .lesson {
            .player-container {
                background-color: $blue-medium;
            }
        }
        
        // Lesson Class Colorsss
        .level-red {
            .score {
                border: 8px solid #f5745e;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #f5745e;
            }
            #mastery {
                border: 3px solid #f5745e;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #f5745edd;
            }
        }
        .level-yellow {
            .score {
                border: 8px solid #f5e33f;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #f5e33f;
            }
            #mastery {
                border: 3px solid #f5e33f;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #f5e33fdd;
            }
        }
        .level-green {
            .score {
                border: 8px solid #5cbc5c;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #5cbc5c;
            }
            #mastery {
                border: 3px solid #5cbc5c;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #5cbc5cdd;
            }
        }
        .level-blue {
            .score {
                border: 8px solid #5893f1;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #5893f1;
            }
            #mastery {
                border: 3px solid #5893f1;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #5893f1dd;
            }
        }
    }
}