
$purple-medium: hsl(265, 36%, 83%);         // player buttons           
$purple-light: hsl(260, 28%, 90%);    
$purple-lighter: hsl(255, 20%, 96%);        // background color / footer bg -> 80% opacity

.module-container {
    background-image: url("../../../assets/images/bg_arpegios.png");
    .sidebar {
        border-right: 4px solid $purple-light;
        .logo {
            background-color: $purple-lighter;
        }
        .user-details {
            transition: all 0.2s;
            &:hover {
                background-color: $purple-lighter;
            }
        }
        .lesson-list {
            .lesson-name {
                transition: all 0.2s;
                &:hover {
                    background-color: $purple-lighter;
                }
            }
        }
    }
    .main {
        .navbar {
            background-color: $purple-lighter;
        }
        .lesson {
            .player-container {
                background-color: $purple-light;
            }
        }
        
        // Lesson Class Colorsss
        .level-red {
            .score {
                border: 8px solid #f5745e;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #f5745e;
            }
            #mastery {
                border: 3px solid #f5745e;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #f5745edd;
            }
        }
        .level-yellow {
            .score {
                border: 8px solid #f5e33f;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #f5e33f;
            }
            #mastery {
                border: 3px solid #f5e33f;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #f5e33fdd;
            }
        }
        .level-green {
            .score {
                border: 8px solid #5cbc5c;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #5cbc5c;
            }
            #mastery {
                border: 3px solid #5cbc5c;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #5cbc5cdd;
            }
        }
        .level-blue {
            .score {
                border: 8px solid #5893f1;
                border-top: none;
                border-bottom: none;
            }
            #annotations {
                border: 3px solid #5893f1;
            }
            #mastery {
                border: 3px solid #5893f1;
            }
            .btn-mastery {
                border: 2px solid #999;
                background-color: #5893f1dd;
            }
        }
    }
}
