<div class="module-container">
    <div class="user-data">
        <h2>Welcome, {{ user.nombre }}</h2>
        <h3>Your username: <span>{{ user.nombreUsuario }}</span></h3>
        <h3>Your email: <span>{{ user.email }}</span></h3>
        <h3>Total Annotations: {{ validAnnotations }}</h3>
    </div>
    <div class="lesson-data">
        <div class="lesson-data-item" *ngFor="let item of lessonData">
            <h2></h2>
            <p>
                <span *ngIf="item.annotation?.length! > 0">
                    {{ item.moduleName!.split("_")[0] }} Lesson {{ item.lessonId }} :
                </span> 
                    {{ item.annotation }}
            </p>
        </div>
    </div>
    
    <div class="btns">
        <a (click)="askDelete()"><img src="../../../assets/svg/btn-delete.svg" alt=""></a>
        <a (click)="logout()"><img src="../../../assets/svg/btn_logout.svg" alt=""></a>
        <a routerLink="/modules"><img src="../../../assets/svg/btn-modules.svg" alt=""></a>
    </div>
    
    <section class="modal-delete" *ngIf="modalOpen">
        <div class="error-msg">
            <h1>YOU'RE ABOUT TO DELETE YOUR ACCOUNT!</h1>
            <h2>PLEASE SELECT AN OPTION BELOW</h2>
        </div>
        <div class="modal-links">
            <a (click)="confirmDelete()"><img src="../../../assets/svg/btn-delete.svg" alt=""></a>
            <a (click)="closeModal()"><img src="../../../assets/svg/btn-profile.svg" alt=""></a>
            <a routerLink="/modules"><img src="../../../assets/svg/btn-modules.svg" alt=""></a>
        </div>
    </section>
</div>